.footer__container {
  padding-top: 18px;
  padding-bottom: 24px;
  border-top: 1px solid #bfbdb2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list-dev{
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
        padding: 0 20px 0 0;
        line-height: 1;
}

.footer__copy {
    font-weight: 400;
font-size: 29px;
line-height: 100%;
font-feature-settings: 'pnum' on, 'lnum' on;
}